<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">

출처: https://zzdd1558.tistory.com/191 [YundleYundle]
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>

</body>
</html>